<div class="container mt-4">
  <!-- MODO VISTA -->
  <div *ngIf="!modoEdicion">
    <h2>Especialidad: {{ especialidad.nombre }}</h2>
    <p><b>Descripción:</b> {{ especialidad.descripcion }}</p>
    <button class="btn btn-primary" (click)="activarEdicion()">Editar</button>
<button type="button" class="btn btn-secondary ms-2" (click)="goBack()">Cancelar</button> 
  </div>

  <!-- MODO EDICIÓN -->
  <form *ngIf="modoEdicion" (ngSubmit)="save()" #form="ngForm">
    <h2>
      <ng-container *ngIf="especialidad.id && especialidad.id !== 0; else nueva">
        Editando: {{ especialidad.nombre }}
      </ng-container>
      <ng-template #nueva>
        Nueva Especialidad
      </ng-template>
    </h2>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input
        [(ngModel)]="especialidad.nombre"
        name="nombre"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea
        [(ngModel)]="especialidad.descripcion"
        name="descripcion"
        class="form-control"
        rows="3"
        placeholder="Ingrese una descripción"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="form.invalid || allFieldsEmpty()">Guardar</button>
<button type="button" class="btn btn-secondary ms-2" (click)="goBack()">Cancelar</button>  
</form>
</div>
