<div *ngIf="consultorio">
  <!-- MODO VISTA -->
  <div *ngIf="!modoEdicion">
    <h2>Consultorio: {{ consultorio.name }}</h2>
    <p><b>Número:</b> {{ consultorio.numero }}</p>
    <p><b>Centro de Atención:</b> {{ consultorio.centroAtencion?.name }}</p>
    <button class="btn btn-primary" (click)="activarEdicion()">Editar</button>
    <button class="btn btn-danger" (click)="goBack()">Atrás</button>
  </div>

  <!-- MODO EDICIÓN -->
  <form *ngIf="modoEdicion" #form="ngForm">
    <h2>
      <ng-container *ngIf="consultorio.id && consultorio.id !== 0; else nuevo">
        Editando consultorio: {{ consultorio.name }}
      </ng-container>
      <ng-template #nuevo>
        Nuevo Consultorio
      </ng-template>
    </h2>
    <!-- Número -->
    <div class="form-group">
      <label for="numero">Número:</label>
      <input
        type="number"
        name="numero"
        required
        placeholder="Número"
        class="form-control"
        [(ngModel)]="consultorio.numero"
        #numero="ngModel"
        min="1"
      />
      <div
        *ngIf="numero.invalid && (numero.dirty || numero.touched)"
        class="alert"
      >
        <div *ngIf="numero.errors?.['required']">
          El número del consultorio es requerido
        </div>
        <div *ngIf="numero.errors?.['min']">
          El número debe ser mayor o igual a 1
        </div>
      </div>
      <div
        *ngIf="numero.invalid && (numero.dirty || numero.touched)"
        class="alert"
      >
        <div *ngIf="numero.errors?.['required']">
          El número del consultorio es requerido
        </div>
      </div>
    </div>

    <!-- Nombre -->
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        name="nombre"
        required
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="consultorio.name"
        #nombre="ngModel"
      />
      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="alert"
      >
        <div *ngIf="nombre.errors?.['required']">
          El nombre del consultorio es requerido
        </div>
      </div>
    </div>

    <!-- Centro de Atención (typeahead) -->
    <div class="form-group">
      <label for="centroAtencion">Centro de Atención:</label>
      <input
        name="centroAtencion"
        required
        class="form-control"
        [ngbTypeahead]="searchCentrosAtencion"
        [inputFormatter]="formatter"
        [resultFormatter]="formatter"
        [(ngModel)]="selectedCentroAtencion"
        (selectItem)="onCentroAtencionSelected($event.item)"
      />
    </div>

    <!-- Botones -->
<button type="button" class="btn btn-secondary ms-2" (click)="goBack()">Cancelar</button>    <button
      type="button"
      (click)="save()"
      class="btn btn-success"
      [disabled]="form.invalid || allFieldsEmpty()"
      
    >
      Guardar
    </button>
    <button *ngIf="consultorio.id" (click)="remove(consultorio)" class="btn btn-outline-danger">Eliminar</button>
  </form>
</div>
